@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1d1d1d;
  overflow: hidden;
}

#root {
  width: 100vw;
  height: 100vh;
}

@layer utilities {
  .text-shadow-pixel {
    text-shadow: 2px 2px 0px #000, -2px -2px 0px #000, 2px -2px 0px #000, -2px 2px 0px #000;
  }
}
